[Desktop Entry]
Name=ElmerGUI
GenericName=Finite Element Solver
Comment=A finite element software for multiphysical problems
Exec=ElmerGUI
Icon=fi.csc.Elmer
Terminal=false
Type=Application
Categories=Science;Physics;
Keywords=FEM;Simulation;Physics;Engineering;
